export INFORMIXSERVER={{ informix_db_server_name }}{{ informix_db_server_name_suffix }}
export INFORMIXDIR={{ informix_db_install_path }}
export INFORMIXSQLHOSTS=$INFORMIXDIR/etc/sqlhosts.{{ informix_db_server_name }}
export ONCONFIG=onconfig.{{ informix_db_server_name }}
export PATH=$INFORMIXDIR/bin:$PATH
export DBDATE={{ informix_db_dbdate }}
